<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Matthew Rungwe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarmenu" aria-controls="navbarmenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarmenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/about-me']" routerLinkActive="router-link-active" href="#">ABOUT ME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/resume']" routerLinkActive="router-link-active" href="#">RESUME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="router-link-active" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="router-link-active" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hire-me']" routerLinkActive="router-link-active" href="#">HIRE ME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contact']" routerLinkActive="router-link-active" href="#">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
